    <div class="navbar navbar-retailer d-flex mx-5">
      <%= image_tag "logo-bylo-w.svg", alt: "bylo logo", class: "logo-retailer"%>
      <%= mail_to "bylo.developpers@gmail.com", "Besoin d'assistance ?", style: "z-index: 1000; font-size: 12px;" %>
    </div>
