.card {
	padding: 10px 10px 10px 40px;
	text-decoration: none !important;
	color: grey;
	border: 0px solid white;
	border-bottom: 1px solid lightgrey;
	transition: background-color 0.3s ease-in;

}

.card:active {
	background-color: lightgray;
}

.receipt-middle-line {
	justify-content: space-between;
	font-size: 18px;
	font-weight: 500;
	vertical-align: middle;
	color: black;
}

#retailer {
	flex-grow: 1;
	white-space: nowrap;
    overflow: hidden;
  	text-overflow: ellipsis;
}

#price {
	padding: 0px 20px;
	flex-grow: 1;
	text-align: end;
	white-space: nowrap;
}

.receipt-middle-line i {
	font-size: 25px;
	color: lightgray;
}

.date {
	padding: 10px 10px 10px 40px;
	color: $blue;
	font-size: 18px;
	padding-bottom: 20px;
	border-bottom: lightgray solid 1px;
	margin: 0 !important;
}

// RETAILER DASHBOARD CARDS //

.home-organizer {
	display: grid;
	grid-template-columns: 1fr 3fr;
	    height: 100vh;
}

.retailler-home-wrapper {
	grid-column: 2;
	display: grid;
	grid-gap: 30px;
	grid-template-columns: 1fr 1fr 1fr;
	margin: 70px;
}

.retailler-home-info {
	    padding: 50px 0;
	height: 300px;
	background: rgba(245, 245, 245, .2);
	box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, .2);
	// padding: 100px;
	border-radius: 10px;
	transition: background 0.2s ease-in-out;
	& p {
		color: white;
		font-size: 12px;
		transition: color 0.2s ease-in-out;
	}
	& p.number-stat {
		font-size: 80px;
	}
	&:hover {
		background: rgba(245, 245, 245, .9);
		& p {
			color: $blue;
		}
	}
}

.logo-retailer {
    height: 70px;
}

.navbar-retailer {
	    grid-column: 2;
    justify-content: space-between;
    /* position: fixed !important; */
    /* width: 100vw; */
    padding: 0px 70px !important;
}

.see-more {
	font-size: 10px !important;
	text-transform: uppercase;
	padding-top: 60px;
	& i {
		font-size: 10px !important;
		padding-left: 3px;
	}
}

// TERRE LUNE // 

.terre-lune {
	    grid-column: 2;
	        padding: 0px 80px;
	        justify-content: space-between;
	            align-items: center;
}

.terre-line {
	align-items: center;
}

.terre, .lune {
    z-index: 10000;
    pointer-events: none;
    border-radius: 50%;
    opacity: 1;
    //transform: translate(-50%, -50%);
}

.terre {
    width: 25px;
    height: 25px;
    background-color: rgba(233, 233, 237, 1);
}

.lune {
    width: 20px;
    height: 20px;
    background-color: rgba(233, 233, 237, 0);
    border: 5px solid rgba(233, 233, 237, 1);
}

hr {
width: 60vw;
height: 3px !important;
background-color:#fff;
color:#ffffff;
    opacity: 1 !important;
}


